
.wrapper{
    max-width: 960px;
    margin: 0 auto;
}

div.wrapper h1{
    text-align: center;
    margin:100px auto;
    font-size: 2.4em;
}

.articles {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

.article{
    padding: 10px;
    border: 1px solid lightblue;
    position: relative;
    padding-bottom: 40px;
}

.article h2{
    font-size: 1.2em;
}

.article .author{
    padding: 10px;
    background: purple;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    color: pink;
}

.article-detail .article img{
    max-width: 100%;
}

.article-detail .article h2 {
    text-align: center;
    margin: 20px auto;
    font-size: 2em;

}

.article-detail .article p {
    text-align: center;
   
}

/* older website css  */
@import "https://fonts.googleapis.com/css?family=Rancho&effect=fire-animation";

/*-------------------- generic -------------------------------*/

* {
    cursor: url("../media/images/pigeoncurs.png"), auto;
}

body {
    /* background-image: url("../images/background.jpg");
    background-repeat: repeat; */
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: black;
    padding-bottom: 200px;
}


footer {
    
    background-color: #95d9ea;
    position: fixed;
    bottom: 0;
    width: 100%;

}

/*-------------------- loading img -------------------------------*/

.loader {
    position: fixed;
    z-index: 99;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: spin 4s linear infinite;
}

.loader > img {
    width: 100px;
}

.loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}