/* older website css  */
@import "https://fonts.googleapis.com/css?family=Rancho&effect=fire-animation";

/*-------------------- generic -------------------------------*/

* {
    cursor: url("../media/images/pigeoncurs.png"), auto;
}

body {
    /* background-image: url("../images/background.jpg");
    background-repeat: repeat; */
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: black;
    padding-bottom: 200px;
}

.hover:hover {
    filter: invert(100%);
}
/*-------------------------------------- navbar --------------*/
.nav-fill .nav-item {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}

.trolley{
    text-align: right;
    margin-right: 3em;
    margin-top: 2em;
}

.base-logo{
    margin-left: 2em;
    margin-top: 0.5em;
}
/*--------------------------------------- navbar --------------*/
/*-------------------------------------- footer --------------*/

.fab{
    color: white;
    font-size: initial;
}
/*--------------------------------------- footer --------------*/

.wrapper{
    max-width: 960px;
    margin: auto;
    margin-top: 3em;
}

div.wrapper h1{
    text-align: center;
    margin:100px auto;
    font-size: 2.4em;
}

.articles {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

.article{
    padding: 10px;
    border: 1px solid lightblue;
    position: relative;
    padding-bottom: 40px;
}

.article h2{
    font-size: 1.2em;
}

.article .author{
    padding: 10px;
    background: purple;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    color: pink;
}

.article-detail .article img{
    max-width: 100%;
}

.article-detail .article h2 {
    text-align: center;
    margin: 20px auto;
    font-size: 2em;

}

.article-detail .article p {
    text-align: center;
    
   
}

.product{
    background-position: center center;
    background-size: cover;
}

a{
color: black;
}


footer {
    
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;

}

.footer-copyright{
    color:white;
}

/*-------------------- loading img -------------------------------*/

.loader {
    position: fixed;
    z-index: 99;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: spin 4s linear infinite;
}

.loader > img {
    width: 100px;
}

.loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.pb-3, .py-3 {
    padding-bottom: 0.5rem!important;
}

.pt-3, .py-3 {
    padding-top: 0rem!important;
}

.pt-4, .py-4 {
    padding-top: 1rem!important;

}


/*--------------------contact page ---------------------------*/

.contact-info{
     width: auto;
	height: 50%;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.center-form {
    text-align: center;
    font-size:1.5em;
   

}

input[type="text"] {
    width: 50%;
}

textarea {
    width: 100%;
}

.btn {
    background-color: #d3d3d3;
    margin-top: 10px;
    margin-bottom: 90px;
    border: 1px solid #3d3d3d;


}

.btn:hover {
    background-color: #909090;
}

form{
   margin-bottom: -3.6em;
}



.fill {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    
}


/*--------------navbar hamburger-----------------*/
/* Icon 1 */

.animated-icon1, .animated-icon2, .animated-icon3 {
width: 30px;
height: 20px;
position: relative;
margin: 0px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
cursor: pointer;
}

.animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
display: block;
position: absolute;
height: 3px;
width: 100%;
border-radius: 9px;
opacity: 1;
left: 0;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .25s ease-in-out;
-moz-transition: .25s ease-in-out;
-o-transition: .25s ease-in-out;
transition: .25s ease-in-out;
}

.animated-icon1 span {
background: #e65100;
}

.animated-icon2 span {
background: #e3f2fd;
}

.animated-icon3 span {
background: black;
}

.animated-icon1 span:nth-child(1) {
top: 0px;
}

.animated-icon1 span:nth-child(2) {
top: 10px;
}

.animated-icon1 span:nth-child(3) {
top: 20px;
}

.animated-icon1.open span:nth-child(1) {
top: 11px;
-webkit-transform: rotate(135deg);
-moz-transform: rotate(135deg);
-o-transform: rotate(135deg);
transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
opacity: 0;
left: -60px;
}

.animated-icon1.open span:nth-child(3) {
top: 11px;
-webkit-transform: rotate(-135deg);
-moz-transform: rotate(-135deg);
-o-transform: rotate(-135deg);
transform: rotate(-135deg);
}

/* Icon 3*/

.animated-icon2 span:nth-child(1) {
top: 0px;
}

.animated-icon2 span:nth-child(2), .animated-icon2 span:nth-child(3) {
top: 10px;
}

.animated-icon2 span:nth-child(4) {
top: 20px;
}

.animated-icon2.open span:nth-child(1) {
top: 11px;
width: 0%;
left: 50%;
}

.animated-icon2.open span:nth-child(2) {
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
top: 11px;
width: 0%;
left: 50%;
}

/* Icon 4 */

.animated-icon3 span:nth-child(1) {
top: 0px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
top: 10px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
top: 20px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
top: 0px;
left: 8px;
}

.animated-icon3.open span:nth-child(2) {
width: 0%;
opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
top: 21px;
left: 8px;
}

.nav-item{
    text-align: center;
    font-size: 2em;
    font-weight: 600;
}

.navbar-toggler{
    padding: 0;
}


/*--blog---*/
.article .author {
    padding: 10px;
    background: #000000;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    color: #f8d2e1;
}
.article {
    padding: 10px;
    border: 3px solid black;
    position: relative;
    padding-bottom: 40px;
}



/*---- shop ---*/
.btn {
    background-color: #f8d2e1;
    margin-top: 0;
    margin-bottom: 90px;
    border: 2px solid #3d3d3d;
}
.btn-success {
    color: #000000;
}



/*----- formn -----*/
input[type="text"] {
   border: 3px solid black;
}

textarea{ 
    border: 3px solid black;
}


/* If the screen size is 600px wide or less, hide the element */
@media only screen and (max-width: 600px) {
  .big-nav {
    display: none;
  }
  
}


/* If the screen size is 601px wide or more, hide the element */
@media only screen and (min-width: 601px) {
  .small-nav {
    display: none;
  }
}


/* If the screen size is 601px wide or more, hide the element */
@media only screen and (min-width: 601px) {
  .home-img {
    width: 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
  }
}

.list-inline:hover {
     color: yellow;

}

a:hover{
    filter: invert(100%);
    text-decoration: none;
}