/*-------------------------------------- navbar --------------*/
.nav-fill .nav-item {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}

.trolley{
    text-align: right;
    margin-right: 3em;
    margin-top: 2em;
}

.base-logo{
    margin-left: 2em;
    margin-top: 0.5em;
}
/*--------------------------------------- navbar --------------*/
/*-------------------------------------- footer --------------*/

.fab{
    color: white;
    font-size: initial;
}
/*--------------------------------------- footer --------------*/

.wrapper{
    max-width: 960px;
    margin: auto;
    margin-top: 3em;
}

div.wrapper h1{
    text-align: center;
    margin:100px auto;
    font-size: 2.4em;
}

.articles {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

.article{
    padding: 10px;
    border: 1px solid lightblue;
    position: relative;
    padding-bottom: 40px;
}

.article h2{
    font-size: 1.2em;
}

.article .author{
    padding: 10px;
    background: purple;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    color: pink;
}

.article-detail .article img{
    max-width: 100%;
}

.article-detail .article h2 {
    text-align: center;
    margin: 20px auto;
    font-size: 2em;

}

.article-detail .article p {
    text-align: center;
    
   
}

.product{
    background-position: center center;
    background-size: cover;
}

a{
color: black;
}
/* older website css  */
@import "https://fonts.googleapis.com/css?family=Rancho&effect=fire-animation";

/*-------------------- generic -------------------------------*/

* {
    cursor: url("../media/images/pigeoncurs.png"), auto;
}

body {
    /* background-image: url("../images/background.jpg");
    background-repeat: repeat; */
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: black;
    padding-bottom: 200px;
}


footer {
    
    background-color: #34497A;
    position: fixed;
    bottom: 0;
    width: 100%;

}

/*-------------------- loading img -------------------------------*/

.loader {
    position: fixed;
    z-index: 99;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: spin 4s linear infinite;
}

.loader > img {
    width: 100px;
}

.loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.pb-3, .py-3 {
    padding-bottom: 0.5rem!important;
}

.pt-3, .py-3 {
    padding-top: 0rem!important;
}

.pt-4, .py-4 {
    padding-top: 1rem!important;

}

.home-img {
 background-image: url('media/images/eddie_brett_love.jpg');
 background-size: cover;
 background-repeat: no-repeat;
}



/*--------------------contact page ---------------------------*/

.contact-info{
     width: auto;
	height: 50%;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.center-form {
    text-align: center;
    font-size:1.5em;
    background-color: #77d3ea;

}

input[type="text"] {
    width: 50%;
}

textarea {
    width: 100%;
}

.btn {
    background-color: #d3d3d3;
    margin-top: 10px;
    margin-bottom: 90px;
    border: 1px solid #3d3d3d;


}

.btn:hover {
    background-color: #909090;
}

form{
   margin-bottom: -3.6em;
}



.fill {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url("{% static 'media/images/eddie_brett_love.jpg' %}");
}