

.wrapper{
    max-width: 960px;
    margin: 0 auto;
}

div.wrapper h1{
    text-align: center;
    margin:100px auto;
    font-size: 2.4em;
}

.articles {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

.article{
    padding: 10px;
    border: 1px solid lightblue;
    position: relative;
    padding-bottom: 40px;
}

.article h2{
    font-size: 1.2em;
}

.article .author{
    padding: 10px;
    background: purple;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    color: pink;
}

.article-detail .article img{
    max-width: 100%;
}

.article-detail .article h2 {
    text-align: center;
    margin: 20px auto;
    font-size: 2em;

}

.article-detail .article p {
    text-align: center;
   
}

/* older website css  */
@import "https://fonts.googleapis.com/css?family=Rancho&effect=fire-animation";

/*-------------------- generic -------------------------------*/

* {
    cursor: url("../images/pigeoncurs.png"), auto;
}

body {
    background-image: url("../images/background.jpg");
    background-repeat: repeat;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: black;
}



.highlighted-text {
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
    background-color: #613b16;
    line-height: 1.3;
    color: white;
}

.bottom-page-paragraph {
    margin-bottom: 70px;
}

/*---------------------------navbar---------------------------*/

.nav-main-logo {

    font-weight: 600;
    margin-left: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

.logo-span{
    background-color: #95d9ea;
    color: black;
}


.nav-menu-item a {
    color: #000;
     font-weight: 600;
   
}

.nav-menu-item a:hover {
    text-decoration: none;
    color: #92d9eb;
   
}


.list-inline {
    text-align: center;
    font-size: 22px;

}



/*------------------- home page ----------------*/

.myself-pic{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: 25%;
  padding-top: 2em;
}

h4{
    position: absolute;
    padding-top: 50px;
    padding-left: 30px;
    font-size: 2em;
    color: orange;
}

/*-----------------------------music page---------------------*/

.content {
    padding-top: 35px;
    padding-bottom: 80px;
}

img {
    width: 100%;
    height: auto;
}

.youtube-clicker {

    background-color: white;
    color: red;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    text-align: center;
    margin-top: 10px;

}

.youtube-clicker:hover {
    background-color: red;
    color: white;

}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


/*------------------- games page -----------------*/

.game-logo {
    width: 280px;
    height: 280px;
}

.game-logo:hover {
    filter: invert(100%);
}

.game-page{
     width: auto;
	height: 50%;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
/*------------------- merch page -----------------*/



/*--------------------contact page ---------------------------*/

.contact-info{
     width: auto;
	height: 50%;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.center-form {
    text-align: center;
    font-size:1.5em;
    background-color: #95d9ea;

}

input[type="text"] {
    width: 50%;
}

textarea {
    width: 100%;
}

.btn {
    background-color: #d3d3d3;
    margin-top: 10px;
    margin-bottom: 90px;
    border: 1px solid #3d3d3d;


}

.btn:hover {
    background-color: #909090;
}

form{
   margin-bottom: -3.6em;
}

/*------------------------------- media queries-----------------------------*/

/*---------------(desktop) 992px and over -------------------*/

@media (min-width:992px) {


    .social-links {
        text-align: right;
        margin-right: 30px;
    }


}


/*--------------------- 991px and under (tablet and mobile) -------------*/

@media only screen and (max-width: 991px) {

    .social-links {
        padding-top: 10px;
    }

    .hide-video {
        display: none;
    }

    img {
        width: 100%;
        height: auto;
    }

    iframe {
        width: 100%;
    }


    .col-md-6,
    .col-sm-12,
    .artwork {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 10px;
    }
    
    .game-logo {
    width: 50%;
    height: 50%;
}

.list-inline {
    text-align: center;
    font-size: 18px;}

.nav-menu-item a:hover {
    
    font-size: 18px;
}

}



/*--------------- device bigger than 1024 under 1106 (will hide on tablet) ------------------*/

@media only screen and (min-device-width: 1024px) and (max-device-width: 1106px) and (-webkit-min-device-pixel-ratio: 1.5) {
    .hide-video {
        display: none;
    }

    iframe {
        padding-top: 5px;
        padding-bottom: 5px;
        width: 994px;
        height: 500px;

    }
}


/*------------------------- footer ---------------*/

footer {
    margin-top: 20px;
    background-color: #95d9ea;
    position: fixed;
    bottom: 0;
    width: 100%;

}


.social-links {
    padding-top: 10px;
    position: relative;

}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background-color: black;
    transition: all 0.10s ease-in-out;
    -moz-transition: all 0.10s ease-in-out;
    -webkit-transition: all 0.10s ease-in-out;
    -o-transition: all 0.10s ease-in-out;
}

.social-links li a i:hover {
    filter: invert(100%);

}