{% extends 'base.html' %}
{% block meta_description %} Eddie Brett blogs {% endblock %}
{% block title %} EDDIE BLOGS {% endblock %}
{% block content %}
  <h2>BLOG</h2>
    <div class="articles">
        {% for article in articles %}
        <a href="{% url 'blog:post' slug=article.slug %}">
            <div class="article">
                <img width="100%" src="{{ article.thumb.url }}"/>
                <h2>{{article.title}}</h2>
                <p>{{article.snippet}}</p>
                <p>{{article.date}}</p>
                <p class="author">added by {{ article.author.username }}</p>
            </div>
            </a>
        {% endfor %}
    </div>

     
{% endblock%}
    