{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}

{% block content %}
<div class="row row-flex">

	{% for item in cart_items %}

	<div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-display">
		<div class="product" style="height: 300px; background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')">
		</div>

		<div class="caption">
			<h3>{{ item.product.name }}</h3>
			<p class="product-description">{{ item.product.description }}</p>
			<p>{{ item.product.price }}</p>
			<form class="form-inline" method="post" action="{% url 'adjust_cart' item.id %}">
				{% csrf_token %}
               
				<div class="form-group">

					<div class="input-group">
						<div class="input-group-addon">Qty  :</div>
						<input name="quantity" type="number" min="0" max="999" class="form-control" value="{{item.quantity}}">

				    <button type="submit" class="btn btn-primary"><i class="fas fa-edit"></i>Update</button>
                </div>
                </div>
                
			</form>

		</div>
	</div>
	{% endfor %}
</div>

<div>
<p class="price-total">Total: £ {{ total }}</p> 
<br/>

<a href="{% url 'checkout' %}" class="btn btn-success" role="button"><i class="far fa-thumbs-up"></i>Go to
	checkout...</a>
</div>
{% endblock %}