{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
	<!---------- tells google about the page ----->
	<meta charset="UTF-8">
	<meta name="description"
		content="{% block meta_description %} Website for the poet and performer Eddie Brett {% endblock %}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://kit.fontawesome.com/6a308be366.js" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
			integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
		</script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
			integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
		</script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
			integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
		</script>

	<!---------- favicon ----->
	<link rel="apple-touch-icon" sizes="57x57" href="{% static 'media/images/favicon/apple-icon-57x57.png' %}">
	<link rel="apple-touch-icon" sizes="60x60" href="{% static 'media/images/favicon/apple-icon-60x60.png' %}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% static 'media/images/favicon/apple-icon-72x72.png' %}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% static 'media/images/favicon/apple-icon-114x114.png' %}">
	<link rel="apple-touch-icon" sizes="120x120" href="{% static 'media/images/favicon/apple-icon-120x120.png' %}">
	<link rel="apple-touch-icon" sizes="144x144" href="{% static 'media/images/favicon/apple-icon-144x144.png' %}">
	<link rel="apple-touch-icon" sizes="152x152" href="{% static 'media/images/favicon/apple-icon-152x152.png' %}">
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'media/images/favicon/apple-icon-180x180.png' %}">
	<link rel="icon" type="image/png" sizes="192x192" href="{% static 'media/images/favicon android-icon-192x192.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'media/images/favicon/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="96x96" href="{% static 'media/images/favicon/favicon-96x96.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'media/images/favicon/favicon-16x16.png' %}">
	<!-- <link rel="manifest" href="/manifest.json"> -->
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="{% static 'media/images/favicon/ms-icon-144x144.png' %}">
	<meta name="theme-color" content="#ffffff">

	<!---------- Stylesheets ----->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,600|Special+Elite" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">

    {% block head_js %}
    {% endblock %}
	<title>{% block title %} Eddie Brett {% endblock %}</title>
</head>

<body>
	<!--------------------------------- Main logo top left corner 'eddie brett' 

    ----------------------->

<!--Navbar-->
<!--Navbar-->
<nav class="navbar small-nav">

  

  <!-- Collapse button -->
  <button class="navbar-toggler third-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent22"
    aria-controls="navbarSupportedContent22" aria-expanded="false" aria-label="Toggle navigation">
    <div class="animated-icon3"><span></span><span></span><span></span></div>
  </button>

<!-- Navbar brand -->
  <a href="{% url 'homepage' %}"><img width="200em" src="{% static 'media/images/eddie-brett-logo-pink.png' %}"></a>

<!--Trolley -->
<div>
			<a href="{% url 'view_cart' %}">
				<i class="fas fa-shopping-cart"></i>
				{% if product_count > 0 %}
				<label class="badge badge-warning">{{ product_count }}</label>
				{% endif %}
			</a>

			{% if messages %}
			<div class="alert alert-success">
				<div class="messages">
					{% for message in messages %}
					{{ message }}
					{% endfor %}
				</div>
			</div>
			{% endif %}
		</div>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent22">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'homepage' %}">HOME<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'blog:list' %}">BLOG</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'musicpage' %}">MUSIC</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'gamespage' %}">GAME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'all_products' %}">SHOP</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contactpage' %}">CONTACT</a>
      </li>
    </ul>
    <!-- Links -->

  </div>
  <!-- Collapsible content -->

</nav>
<!--/.Navbar-->
<!--/.Navbar-->

	<!------------------------------------- nav bar menu -------------------------------------------->
	{% block nav %}
    <div class="big-nav">
	<div class="row base-logo">
		<div class="col">
			<img width="200em" src="{% static 'media/images/eddie-brett-logo-pink.png' %}">
	    </div>
		<div class="col trolley">
			<a href="{% url 'view_cart' %}">
				<i class="fas fa-shopping-cart"></i> Trolley
				{% if product_count > 0 %}
				<label class="badge badge-warning">{{ product_count }}</label>
				{% endif %}
			</a>

			{% if messages %}
			<div class="alert alert-success">
				<div class="messages">
					{% for message in messages %}
					{{ message }}
					{% endfor %}
				</div>
			</div>
			{% endif %}
		</div>
	</div>

		<nav class="nav nav-pills nav-fill ">
			<a class="nav-item nav-link" href="{% url 'homepage' %}">HOME</a>
			<a class="nav-item nav-link" href="{% url 'blog:list' %}">BLOG</a>
			<a class="nav-item nav-link" href="{% url 'musicpage' %}">MUSIC</a>
			<a class="nav-item nav-link" href="{% url 'gamespage' %}">GAME</a>
			<a class="nav-item nav-link" href="{% url 'all_products' %}">SHOP</a>
			<a class="nav-item nav-link" href="{% url 'contactpage' %}">CONTACT</a>

		</nav>
    </div>
		{% endblock %}
		<!-----------------------------------------content----------------------------------------->
		<div class="wrapper">
			{% block content %}
			{% endblock %}
		</div>

		{% block contentnonwrap %}
		{% endblock %}


		<!-----------------------------------------footer----------------------------------------->

		<!-- Footer -->
		{% block footer %}
		<footer class="page-footer font-small special-color-dark pt-4">

			<!-- Footer Elements -->
			<div class="container">

				<!-- Social buttons -->
				<ul class="list-unstyled list-inline text-center">
					<li class="list-inline-item">
						<a target="_blank" href="https://www.facebook.com/eddiebrettmate/"
							class="btn-floating btn-fb mx-1">
							<i class="fab fa-facebook-f"></i>
						</a>
					</li>
					<li class="list-inline-item">
						<a class="btn-floating btn-tw mx-1" target="_blank" href="https://twitter.com/eddiebrett">
							<i class="fab fa-twitter"></i>
						</a>
					</li>
					<li class="list-inline-item">
						<a class="btn-floating btn-gplus mx-1" target="_blank"
							href="https://www.instagram.com/eddiebrettmate/">
							<i class="fab fa-instagram"></i>
						</a>
					</li>
					<li class="list-inline-item">
						<a class="btn-floating btn-li mx-1" target="_blank"
							href="https://www.youtube.com/channel/UCNntehOHfA3jNS-r1-WLKaQ?view_as=subscriber">
							<i class="fab fa-youtube"></i>
						</a>
					</li>
				</ul>
				<!-- Social buttons -->

			</div>
			<!-- Footer Elements -->

			<!-- Copyright -->
			<div class="footer-copyright text-center py-3">© 2020 Copyright: COCKNEY PIRATE RECORDS</div>
			<!-- Copyright -->

		</footer>
		{% endblock %}


		<!-- Javascript -->

<script type="text/javascript">
        $(document).ready(function () {

  $('.first-button').on('click', function () {

    $('.animated-icon1').toggleClass('open');
  });
  $('.second-button').on('click', function () {

    $('.animated-icon2').toggleClass('open');
  });
  $('.third-button').on('click', function () {

    $('.animated-icon3').toggleClass('open');
  });
});
</script>
        
</body>

</html>