{% extends 'base.html' %}
{% load staticfiles %}
{% block meta_description %} Contact Eddie Brett, get intouch with him. {% endblock %}
{% block title %}CONTACT EDDIE{% endblock %}
{% block content %}
<!--------------------- message from eddie to user-------------------->

<div class="container">
	<h6>It's always great to hear from people, any way of which you think you can push the project further please get in
		touch x</h6>


	<!-------------------- contact email form----------------------->
	<div class="center-form">

		<form action="mailto:cockneypiraterecords@gmail.com" method="post" enctype="text/plain">
			name:<br>
			<input type="text" name="name"><br> mobile-number:
			<br>
			<input type="text" name="number"><br> what's up?:<br>
			<textarea type="text" name="comment" rows="5"></textarea>
			<br>
			<input class="btn" type="submit" value="send it">
			<input class="btn" type="reset" value="reset it">
        </form>

	</div>
    
    <div class="row">
	    <div class="col-6"><a href="https://www.spotlight.com/interactive/cv/1/M139427.html"
			target="blank">
			<img width="100%" src="{% static 'media/eddie-actor.jpg' %}" alt="Eddie Brett Spotlight link">
                 </a></div>
	    <div class="col-6"><a href="https://sohovoices.co.uk/artists/eddie-brett/"
			target="blank">
			<img width="100%" src="{% static 'media/eddie-voice.jpg' %}"  alt="Eddie Brett Sohovoices link">
                </a></div>
	
    </div>
</div>

{% endblock%}