{% extends 'base.html' %}
{% block meta_description %} Contact Eddie Brett, get intouch with him. {% endblock %}
{% block title %}CONTACT EDDIE{% endblock %}
{% block content %}
 <h1>CONTACT</h1>
    <!--------------------- message from eddie to user-------------------->
    <div class="contact-info">
        <div class="container">
            <h3 class="container"><span class="highlighted-text">any way of which you can push the project further please get in touch x</span> </h3>
        </div>

        <!-------------------- contact email form----------------------->

        <div class="container center-form">
            <form action="mailto:cockneypiraterecords@gmail.com" method="post" enctype="text/plain">
                name:<br>
                <input type="text" name="name"><br> mobile-number:
                <br>
                <input type="text" name="number"><br> what's up?:<br>
                <textarea type="text" name="comment" rows="5"></textarea>
                <br>
                <input class="btn" type="submit" value="send it">
                <input class="btn" type="reset" value="reset it">
            </form>
        </div>
    </div>
{% endblock%}
