{% extends 'base.html' %}
{% block meta_description %} Eddie Brett games to play {% endblock %}
{% block title %}EDDIE GAMES{% endblock %}
{% block content %}

<h6>Tests your memory with this flipping good card game. Click on box to begin --></h6>
    

        

            <div class="home-img hoover">
                <a href="{% url 'mental_game' %}" target="blank">
                <img width="100%" src="/static/media/images/game/mate.jpg" alt="mate-logo">
                 </a>
            </div>

        
{% endblock%}

   
