{% extends 'base.html' %}
{% block meta_description %} Eddie Brett games to play {% endblock %}
{% block title %}EDDIE GAMES{% endblock %}
{% block content %}
        
            <div class="big-nav hoover">
                <a href="{% url 'mental_game' %}" target="blank">
                <img width="100%" src="/static/media/images/game/game-page.png" alt="quizzy quizzy logo">
                 </a>
            </div>
             <div class="small-nav hoover">
                <a href="{% url 'mental_game' %}" target="blank">
                <img width="100%" src="/static/media/images/game/game-mobile.png" alt="quizzy quizzy logo">
                 </a>
            </div>

        
{% endblock%}

   
