{% extends 'base.html' %}
{% load staticfiles %}
{% block meta_description %} This is the website for the poet and performer Eddie Brett {% endblock %}
{% block title %}EDDIE HOME{% endblock %}
{% block content %}
    <div class="fill verticle-img">
    <img class="big-nav" width="100%" src="{% static 'media/images/web-home.jpg' %}" alt="eddie_brett_love">
    <img class="small-nav" width="100%" src="{% static 'media/images/webhome.jpg' %}" alt="eddie_brett_love">
    <!-- <img width="100%" src="static/media/images/eddie_brett_love.jpg" alt="eddie_brett_love"> -->
    </div>
{% endblock %}

   
