{% extends 'base_layout.html' %}
{% block meta_description %} This is a selection of songs and videos Eddie Brett has released.{% endblock %}
{% block title %}EDDIE MUSIC{% endblock %}
{% block content %}
    <div class="container-fluid content">

        <div class="row">

            <div class="col-xs-6 col-lg-3 artwork">
                <a href="https://open.spotify.com/album/4Y6zBv6BulUS3sD40nzDNf?si=DTaMWDSATiG0GXaLTnEtFg" target="blank">
                <img height="315" width="315" src="images/game/parlay.jpg" alt="parlay-album-cover">
                 </a>
            </div>


            <div class="col-xs-6 6 col-lg-3 artwork">
                <a href="https://open.spotify.com/album/40vDgv7tpm3yzqxJAfzxAN?si=IABU01qJTG-dKsC04av0yA" target="blank">
                <img height="315" width="315" src="images/game/he-does-what-he-wants.jpg" alt="HeDoesWhatHeWants-album-cover">
                </a>
            </div>
            <div class="col-sm-12 col-md-6  youtube">
                <iframe height="315" width="600" src="https://www.youtube.com/embed/nqmcgX7WKdo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6 col- col-lg-3 artwork">
                <a href="https://open.spotify.com/album/7ytgV7ClfdXbbvDhF8W9mJ?si=1U9IUXQaQDiVKUyhy6vGqg" target="blank">
                <img height="315" width="315" src="images/game/honest.jpg" alt="honest-album-cover">
                </a>
            </div>


            <div class="col-xs-6 col-lg-3 artwork">
                <a href="https://open.spotify.com/album/4V88ivH6YwYTe1w6q8wKvd?si=uDIBxPA7SJuwe3QFYB2hmA" target="blank">
                <img height="315" width="315" src="images/game/this-and-that.jpg" alt="This-And-That-album-cover">
            </a>
            </div>


            <div class="col-xs-12 col-lg-6 youtube">
                <iframe height="315" width="600" src="https://www.youtube.com/embed/gPPHRwWlGQM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
        <div class="row">

            <div class="col-s-12 col-lg-6 hide-video">
                <iframe height="315" width="600" src="https://www.youtube.com/embed/0tRBmbi65zc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
            <div class="col-s-12 col-lg-6 hide-video">
                <iframe height="315" width="600" src="https://www.youtube.com/embed/NkpMZbQsXAM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>

        <a href="https://www.youtube.com/channel/UCNntehOHfA3jNS-r1-WLKaQ" target="blank">
            <div class="youtube-clicker col-12 bottom-of-the-page-text">
                <span>Click through to youtube</span>
            </div>
        </a>

    </div>

{% endblock%}

   
