{% extends 'base.html' %}
{% block meta_description %} This is a selection of songs and videos Eddie Brett has released.{% endblock %}
{% block title %}EDDIE MUSIC{% endblock %}
{% block content %}

<div class="loader">
<img src="static/media/cockney-pirate-skull.png" alt="loading.....">
</div>

<div class="container">
<h2>MUSIC</h2>
<div class="row">
	<div class="col-6 col-md-2"><a href="https://open.spotify.com/album/4Y6zBv6BulUS3sD40nzDNf?si=DTaMWDSATiG0GXaLTnEtFg"
			target="blank">
			<img width="100%" src="{% static 'media/images/game/parlay.jpg' %}"  alt="parlay-album-cover">
                 </a></div>
	<div class="col-6 col-md-2"><a href="https://open.spotify.com/album/40vDgv7tpm3yzqxJAfzxAN?si=IABU01qJTG-dKsC04av0yA"
			target="blank">
			<img width="100%" src="static/media/images/game/he-does-what-he-wants.jpg" alt="HeDoesWhatHeWants-album-cover">
                </a></div>
	<div class="col-6 col-md-2"><a href="https://open.spotify.com/album/4V88ivH6YwYTe1w6q8wKvd?si=uDIBxPA7SJuwe3QFYB2hmA"
			target="blank">
			<img  width="100%" src="static/media/images/game/this-and-that.jpg" alt="This-And-That-album-cover">
            </a></div>
	<div class="col-6 col-md-2"><a href="https://open.spotify.com/album/7ytgV7ClfdXbbvDhF8W9mJ?si=1U9IUXQaQDiVKUyhy6vGqg"
			target="blank">
			<img width="100%" src="static/media/images/game/honest.jpg" alt="honest-album-cover">
                </a></div>

	<div class="col-6 col-md-2"><a href="https://open.spotify.com/track/3vOtCEpVvg349pNdO1WAaS"
			target="blank">
			<img width="100%" src="static/media/images/game/life.jpg" alt="life-album-cover">
                 </a></div>
	<div class="col-6 col-md-2"><a href="https://open.spotify.com/track/20Z3xa5KltWHyJnF5rduH1"
			target="blank">
			<img width="100%" src="static/media/images/game/myself.jpg" alt="myself-album-cover">
                </a></div>
	
</div>

<h2>VIDEOS</h2>

	<div class="row">
		<div class="col">
			<iframe width="100%" src="https://www.youtube.com/embed/I882EfTp3dI" frameborder="0"
				allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
				allowfullscreen></iframe>
		</div>
        <div class="col videohide">
			<iframe width="100%" src="https://www.youtube.com/embed/gPPHRwWlGQM" frameborder="0"
				allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
				allowfullscreen></iframe>
		</div>
		
		<div class="row">
			<div class="col videohide">
				<iframe width="100%" src="https://www.youtube.com/embed/F3kkuLueeL8" frameborder="0"
				allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
				allowfullscreen></iframe>
			</div>
		</div>
	</div>
    <div class="row">
		<div class="col">
			<iframe width="100%" src="https://www.youtube.com/embed/Xp1tpk0x230" frameborder="0"
				allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
				allowfullscreen></iframe>
		</div>
		<div class="col videohide">
			<iframe width="100%" src="https://www.youtube.com/embed/xPGyIE6E87c" frameborder="0"
				allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
				allowfullscreen></iframe>
		</div>
		<div class="row">
			<div class="col videohide">
				<iframe width="100%" src="https://www.youtube.com/embed/xuNhou5ocyA" frameborder="0"
				allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
				allowfullscreen></iframe>
			</div>
		</div>
	</div>
    <div class="row">
		<div class="col videohide">
			<iframe width="100%" src="https://www.youtube.com/embed/0tRBmbi65zc" frameborder="0"
				allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
				allowfullscreen></iframe>
		</div>
		<div class="col videohide">
			<iframe width="100%" src="https://www.youtube.com/embed/NkpMZbQsXAM" frameborder="0"
				allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
				allowfullscreen></iframe>
		</div>
		<div class="row">
			<div class="col videohide">
				<iframe width="100%" src="https://www.youtube.com/embed/nqmcgX7WKdo" frameborder="0"
				allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
				allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
window.addEventListener("load", function () {
    const loader = document.querySelector(".loader");
    loader.className += " hidden"; // class "loader hidden"
});
</script>

{% endblock%}